<header>
    <div class="header-text-container">
        <h2>Food Inventory App</h2>
    </div>
    <div class="nav-container">
        <ul>
            <li>
                <a href="/">Inventory</a>
                <a href="/">Categories</a>
            </li>
        </ul>
    </div>
</header>