<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
        <title><%= title %></title>
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div class="main-container">
            <h2> Search Product </h2>
            <div class="form-container" style="flex: 6;">
                <form action="/search" method="GET">
                    <label for="productName">
                        Product Name:
                        <input type="text" name="productName" id="productName">
                    </label>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="refs-container">
            <a href="/search">Search Product</a>
            <a href="/add">Add Product</a>
            <a href="/update">Update Product</a>
            <a href="/delete">Delete Product</a>
        </div>
    </body>
</html>