* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    padding: 1rem 4rem;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header {
    flex: 1;
    width: 100%;
    display: flex;
    align-items:center;
}

header > .nav-container {
    margin-left: auto;
    margin-right: 3rem;
}

header ul {
    display: flex;
    gap: 1rem;
}

header li {
    list-style: none;
}

.main-container {
    width: 100%;
    flex: 8;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

