* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    padding: 1rem 4rem;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header {
    flex: 1;
    width: 100%;
    display: flex;
    align-items:center;
}
button:hover {
    cursor: pointer;
}

header > .nav-container {
    margin-left: auto;
    margin-right: 3rem;
}

table {
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 1px solid black;
}

tr, td, th {
    text-align: center;
    border: 1px solid black;
    padding: 0.3rem 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 1px solid black;
}

tr, td, th {
    text-align: center;
    border: 1px solid black;
    padding: 0.3rem 1rem;
}

header ul {
    display: flex;


}

header li {
    list-style: none;
}

.main-container {
    width: 100%;
    flex: 8;
    display: flex;
    /* align-items:flex-start; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container > h2 {
    flex: 1;
}

.main-container > .not-found {
    flex: 7;
}

.main-container > .table-container {
    margin-top: 1rem;
    flex: 7;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 500ms;
}

a:hover {
    background-color: #DFDFDF;
}

.refs-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.errors-container {
    margin-bottom: 1rem;
}

.errors-container ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 0.5rem;
}

.errors-container li {
    list-style: none;
    width:fit-content;
    background-color: lightpink;
    color:rgb(130, 0, 0);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.add-form label{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.add-form .button-container {
    margin-top: 0.7rem;
    display:flex;
    justify-content: center;
}

.add-form button{
    /* width:fit-content; */
    
    padding: 0.1rem 1rem;
}