* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    padding: 1rem 4rem;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header {
    flex: 1;
    width: 100%;
    display: flex;
    align-items:center;
}

header > .nav-container {
    margin-left: auto;
    margin-right: 3rem;
}

table {
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 1px solid black;
}

tr, td, th {
    text-align: center;
    border: 1px solid black;
    padding: 0.3rem 1rem;
}

header ul {
    display: flex;

}

header li {
    list-style: none;
}

.main-container {
    width: 100%;
    flex: 8;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 500ms;
}

a:hover {
    background-color: #DFDFDF;
}